[submodule "submodules/Mask2Former"]
	path = submodules/Mask2Former
	url = https://github.com/facebookresearch/Mask2Former.git
[submodule "submodules/gsplat"]
	path = submodules/gsplat
	url = https://github.com/nerfstudio-project/gsplat.git
	branch = v1.4.0